.bannerWrapper{
    width: 100%;
    /*background: lightgoldenrodyellow;*/
}
.parentBanner{
    width: 100%;
    height: 700px;
    display: flex;
}
.childBanner1{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 2.5%;
}
.childBanner2{
    width: 45%;
    height: 100%;
}
.bannerImgWrapper{
    width: 100%;
    height: 100%;
    /*background: #0a58ca;*/
}
.bannerImg{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.bannerBtn{
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 8px 30px 8px 30px;
    font-size: 18px;
    background: #5d58d8;
    color: white;
    margin-top: 4%;
}


@media screen and (max-width: 1024px) {
    .parentBanner{
        width: 100%;
        height: 550px;
        display: flex;
    }
}

@media screen and (max-width: 1023px) {
    .parentBanner{
        width: 100%;
        height: auto;
        flex-direction: column-reverse;
    }
    .childBanner1{
        width: 100%;
        padding: 5%;
    }
    .childBanner2{
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    .bannerImg{
        width: 70%;
        height: 400px;
        object-fit: fill;
    }
}


@media screen and (max-width: 575px) {
    .childBanner1{
        padding: 7%;
    }
    .childBanner2{}
    .bannerImg{
        width: 70%;
        height: 300px;
        object-fit: fill;
    }
    .bannerBtn{
        padding: 5px 20px 5px 20px;
        font-size: 14px;
    }
}